/* Main Menu Area css
============================================================================================ */
/*2019/08/28/19:30*/
/*共通*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: #F1D790;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

body {
  line-height: 28px;
  font-size: 16px;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 500;
  background: #000000;
  color: #ffffff;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

#success {
  display: none;
}

#error {
  display: none;
}

.display_table {
  display: table;
  width: 100%;
}

.display_table_row {
  display: table-row;
}

.display_table_cell {
  display: table-cell;
  float: none !important;
}

.p_100 {
  padding: 100px 0px;
}

iframe {
  border: none;
}

i:before {
  margin-left: 0px !important;
}

img {
  width: 100%;
}

.main_menu_area {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 30;
  padding: 0px
}

.main_menu_area .navbar .navbar-toggler {
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.main_menu_area .navbar .navbar-toggler span {
  height: 3px;
  width: 25px;
  display: block;
  background: #eee;
  margin-bottom: 3px;
}

.main_menu_area .navbar .navbar-toggler span:last-child {
  margin-bottom: 0px;
}

.main_menu_area .navbar .navbar-toggler span {
  height: 3px;
  width: 25px;
  display: block;
  background: #eee;
  margin-bottom: 3px;
}

figure {
  margin: 0;
}

/*画像を下からふわっと表示*/
.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all .8s;
}

.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/*ナビゲーションを上部に固定*/
.main_menu_area {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #000000;
  opacity: 0.9;
}

.foot-add {
  color: #ffffff;
}

.f-banner a {
  display: block;
}

/*共通ここまで*/

@media screen and (max-width:767.98px) {

  /* 変更点。0.02引く。 */
  /* ここにSP向けのCSS指定 */
  .sp-none {
    display: none
  }

  .wrapper {
    width: 96%;
    margin: 0 auto;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }



  .toggle-c {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar-light .navbar-brand {
    margin: 0 auto;
    padding-left: 30px;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 30%;
    width: 150px;
    height: 50px;
  }

  #ra-logo {
    width: 150px;
    margin: 10px;
  }

  .height110 {
    height: 60px;
  }

  .main_menu_area .navbar {
    border-radius: 0px;
    background-color: transparent !important;
    height: 58px;
    border-bottom: 1px solid #4b4b4b;
    padding: 0px;
  }

  .navbar-light .navbar-brand {
    padding: 10px 0;
  }

  .main_menu_area .navbar .navbar-nav li a:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  .main_menu_area .navbar .navbar-nav li a {
    display: block;
    line-height: 40px;
    padding: 0px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    margin: 0 5%;
  }

  /*ヘッダー*/
  .h-link_box {
    margin: 0 auto;
  }

  .main_menu_area {
    padding: 0;
    height: 60px;
  }

  .navbar-light .navbar-brand {
    padding: 0;
  }

  .main_menu_area .navbar .navbar-nav li {
    display: block;
    margin-right: 0px;
  }

  .main_menu_area .navbar .navbar-nav li:hover a, .main_menu_area .navbar .navbar-nav li.active a {
    color: #F0D380;
  }

  .main_menu_area .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #F0D380;
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
  }

  .main_menu_area .navbar .navbar-nav {
    display: block;
    text-align: center;
  }

  .main_menu_area .navbar .navbar-collapse {
    background: #000;
    max-height: 600px;
    opacity: 0.9;
  }

  .main_menu_area .navbar .navbar-toggler {
    padding: 0px 15px 0px 0px;
    cursor: pointer;
  }

  .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu {
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
  }

  .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li a {
    line-height: 50px;
    padding: 0px 20px;
  }

  /*フッターバナー*/
  .foot-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2d2d2d;
  }

  .f-banner {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /*フッターメニューSP*/
  #footnav {
    margin-top: 30px;
  }

  .li-co {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .foot-li a {
    text-align: center;
    display: block;
    line-height: 40px;
    padding: 0px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    margin: 0 5%;
  }

  .navbar .navbar-nav li a {
    line-height: 40px;
  }

  .main_menu_area.navbar_fixed .navbar .navbar-nav li a {
    line-height: 40px;
  }

  .copyright {
    text-align: center;
    padding: 20px;
    background: #2e2e2e;
  }

  .link_box {
    text-align: center;
    margin-top: 40px;
  }

  #foot-logo {
    width: 180px;
  }

  .link_box {
    position: relative
  }

  .link_box a {
      position: absolute;
      left: 30%;
      width: 220px;
      height: 50px;
  }

  .foot-add {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .copyright {
    pading: 10px;
    font-size: 12px;
  }

  #page-top {
    width: 80px;
  }

  #page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  #page-top a {}

  #page-top a:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  /* スマホここまで
============================================================================================
スマホここまで*/
}/*←消さないで*/
/* スマホここまで
============================================================================================
スマホここまで*/


@media screen and (min-width:768px) {

  /* 変更点。0.02引く。 */
  /* ここにPC向けのCSS指定 */
  /*body*/
  .pc-none {
    display: none
  }

  a:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  /*cursorの記述はbade.cssへ移動*/



  .reco-box {
    margin: 10px;
  }

  .wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }

  .height110 {
    height: 60px;
  }

  .main_menu_area .navbar .navbar-nav {
    display: inline-block;
    text-align: right;
    width: 100%;
  }

  .main_menu_area .navbar .navbar-nav li:last-child {
    margin-right: 0px;
  }

  .main_menu_area .navbar {
    padding: 0px 10px;
    border-radius: 0px;
    background-color: transparent !important;
  }

  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
  }

  .navbar-toggler span {
    height: 3px;
    width: 25px;
    display: block;
    background: $dip;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .navbar-nav {
    display: inline-block;
    text-align: right;
  }

  .navbar-nav li {
    display: inline-block;
    margin-right: 40px;
    overflow: hidden;
  }

  .navbar-nav li a {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .2px;
    padding: 0px;
    line-height: 80px;
    @include transition;
  }

  .navbar-nav li a:last-child {
    margin-right: 0px;
  }

  .navbar_fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    z-index: 999999;
  }

  /*ヘッダー*/
  #ra-logo {
    position: absolute;
    top: -25px;
    left: 20px;
    width: 180px;
  }

  .b-hour {
    text-align: center;
    font-size: 14px;
    background: #1d1d1d;
    height: 30px;
  }

  .h-link_box {
    position: relative;
    width: 200px;
    height: 0;
  }

  .h-link_box a {
    position: absolute;
    width: 180px;
    height: 51.5PX;
    text-indent: -999px;
    left: 10px;
    top: -30px;
  }

  .h-link_box a:hover {
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }

  .pc-none {
    display: none;
  }

  .height110 {
    height: 110px;
  }

  .main_menu_area .navbar {
    height: 80px;
  }

  .main_menu_area .navbar .navbar-nav {
    height: 80px;
    padding-right: 20px;
  }

  .main_menu_area .navbar .navbar-collapse {
    text-align: right;
    display: block !important;
    height: 80px;
    width: 100%;
  }

  .main_menu_area .navbar .navbar-nav li a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .2px;
    padding: 0px;
    line-height: 80px;
  }

  .main_menu_area .navbar .navbar-nav li {
    display: inline-block;
    margin-right: 3%;
  }

  .main_menu_area .navbar .navbar-nav li a:hover {
    color: #F1D790;
  }

  .main_menu_area .navbar .navbar-nav li.active a {
    color: #fff100;
  }

  .main_menu_area .navbar .navbar-toggler {
    display: none;
  }

  /*ヘッダー固定*/
  .main_menu_area.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
    transition: background 500ms ease, -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease, background 500ms ease;
    transition: transform 500ms ease, background 500ms ease;
    transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    z-index: 999999;
  }

  /*パンくずリスト*/
  .breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    padding: 0;
    background: #000;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 10px;
  }

  .breadcrumb a {
    color: #fff;
  }

  .breadcrumb a:hover {
    color: #F1D790;
    border-bottom: 1px solid #F1D790;
  }

/*
  .bread-c-page {
    border-bottom: 1px solid #fff;
  }

  .bread-c-page:hover {
    border-bottom: 1px solid #F1D790;
  }
  */

  /*フッターバナー*/
  .foot-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2d2d2d;
  }

  .f-banner img:hover{
    opacity: 0.9;
  }s

  /* フッター*/
  .foot_banner {
    background: #2e2e2e;
    padding: 40px 0;
    margin: 40px 0 20px 0;
  }

  .foot-ul {
    margin: 0;
    padding-bottom: 20px;
    text-align: right;
  }

  .foot-li {
    display: inline-block;
    padding: 0 10px;
  }

  .foot-li a: {
    color: #ffffff;
  }

  .foot-li a:hover {
    color: #F1D790;
  }

  .foot-li .active {
    color: #fff100;
  }

  .clearfix {
    zoom: 1;
  }

  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }

  #footnav {
    padding-top: 10px;
    display: block;
  }

  .foot-li a {
    color: #fff;
    font-size: 14px;
  }

  #foot-logo {
    width: 200px;
    position: relative;
    bottom: 45px;
  }

  .link_box {
    position: relative;
    width: 500px;
    height: 10px;
  }

  .link_box a {
    position: absolute;
    width: 200px;
    height: 50PX;
    text-indent: -999px;
    left: 0;
    top: -45px;
  }

  .link_box a:hover {
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }

  .copyright {
    text-align: center;
    border-top: 1px solid #333;
    font-size: 10px;
    padding: 5px;
  }

  #page-top {
    width: 80px;
  }

  #page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  #page-top a {}

  #page-top a:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  /*PCここまで*/
}

@media screen and (min-width:768px) and (max-width:990px) {

  /*ヘッダー*/
  #ra-logo {
    position: absolute;
    top: 20PX;
    left: 20px;
    width: 100%;
    max-width: 200px;
  }

  .h-link_box {
    position: relative;
    width: 500px;
    height: 0;
  }

  .h-link_box a {
    position: absolute;
    width: 200px;
    height: 50PX;
    text-indent: -999px;
    left: 0;
    top: 10px;
  }

  .h-link_box a:hover {
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }

  #ra-logo {
    width: 100%;
    max-width: 150px;
  }

  .main_menu_area .navbar .navbar-nav li {
    display: inline-block;
    margin-right: 2%;
  }

  .main_menu_area .navbar .navbar-nav li a {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .2px;
    padding: 0px;
    line-height: 80px;
  }

  .main_menu_area .navbar .navbar-toggler {
    display: none;
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
  }

  #f-wrap {
    width: 98%;
  }

  .foot-li {
    display: inline-block;
    padding: 0 5px;
}

  .foot-li a {
    font-size: 11px;
  }

  #foot-logo {
    width: 150px;
    position: relative;
    bottom: 45px;
    left: 3%;
  }

  .foot-add {
    margin-left: 3%;
  }

  .link_box {
    position: relative;
    width: 500px;
    height: 10px;
  }

  .link_box a {
    position: absolute;
    width: 150px;
    height: 50PX;
    text-indent: -999px;
    left: 0;
    top: -45px;
  }

  .link_box a:hover {
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
}

/* End Main Menu Area css
============================================================================================ */
