@charset "UTF-8";

/*float*/
.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* ◆ padding ◇ ------------------------------*/
/*top*/
.pt0 {
  padding-top: 0;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pt90 {
  padding-top: 90px;
}

.pt100 {
  padding-top: 100px;
}

.pt1e {
  padding-top: 1em;
}

.pt2e {
  padding-top: 2em;
}

.pt05e {
  padding-top: 0.5em;
}

/*bottom*/
.pb0 {
  padding-bottom: 0;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb90 {
  padding-bottom: 90px;
}

.pb100 {
  padding-bottom: 100px;
}

.pb1e {
  padding-bottom: 1em;
}

.pb2e {
  padding-bottom: 2em;
}

.pb05e {
  padding-bottom: 0.5em;
}

/*left*/
.pl0 {
  padding-left: 0;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl40 {
  padding-left: 40px;
}

.pl50 {
  padding-left: 50px;
}

.pl60 {
  padding-left: 60px;
}

.pl70 {
  padding-left: 70px;
}

.pl80 {
  padding-left: 80px;
}

.pl90 {
  padding-left: 90px;
}

.pl100 {
  padding-left: 100px;
}

.pl1e {
  padding-left: 1em;
}

.pl2e {
  padding-left: 2em;
}

.pl05e {
  padding-left: 0.5em;
}

.pl5p {
  padding-left: 5%;
}

/*right*/
.pr0 {
  padding-right: 0;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr40 {
  padding-right: 40px;
}

.pr50 {
  padding-right: 50px;
}

.pr60 {
  padding-right: 60px;
}

.pr70 {
  padding-right: 70px;
}

.pr80 {
  padding-right: 80px;
}

.pr90 {
  padding-right: 90px;
}

.pr100 {
  padding-right: 100px;
}

.pr1e {
  padding-right: 1em;
}

.pr2e {
  padding-right: 2em;
}

.pr05e {
  padding-right: 0.5em;
}

.pr5p {
  padding-right: 5%;
}

/*all*/
.pall0 {
  padding: 0;
}

.pall5 {
  padding: 5px;
}

.pall10 {
  padding: 10px;
}

.pall20 {
  padding: 20px;
}

.pall30 {
  padding: 30px;
}

.pall40 {
  padding: 40px;
}

.pall50 {
  padding: 50px;
}

.pall60 {
  padding: 60px;
}

.pall70 {
  padding: 70px;
}

.pall80 {
  padding: 80px;
}

.pall90 {
  padding: 90px;
}

.pall100 {
  padding: 100px;
}

.pall1e {
  padding: 1em;
}

.pall2e {
  padding: 2em;
}

.pall05e {
  padding: 0.5em;
}

/*right&left*/
.prl5p {
  padding-left: 5%;
  paddin-right: 5%;
}

/* ◆ margin ◇ ------------------------------*/
.mt0 {
  margin-top: 0;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px;
}

.mt1e {
  margin-top: 1em;
}

.mt2e {
  margin-top: 2em;
}

.mt05e {
  margin-top: 0.5em;
}

/*bottom*/
.mb0 {
  margin-bottom: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb1e {
  margin-bottom: 1em;
}

.mb2e {
  margin-bottom: 2em;
}

.mb05e {
  margin-bottom: 0.5em;
}

/*left*/
.ml0 {
  margin-left: 0;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}

.ml70 {
  margin-left: 70px;
}

.ml80 {
  margin-left: 80px;
}

.ml90 {
  margin-left: 90px;
}

.ml100 {
  margin-left: 100px;
}

.ml1e {
  margin-left: 1em;
}

.ml2e {
  margin-left: 2em;
}

.ml05e {
  margin-left: 0.5em;
}

.ml5p {
  margin-left: 5%;
}

/*right*/
.mr0 {
  margin-right: 0;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.mr70 {
  margin-right: 70px;
}

.mr80 {
  margin-right: 80px;
}

.mr90 {
  margin-right: 90px;
}

.mr100 {
  margin-right: 100px;
}

.mr1e {
  margin-right: 1em;
}

.mr2e {
  margin-right: 2em;
}

.mr05e {
  margin-right: 0.5em;
}

.mr5p {
  margin-right: 5%;
}

/*all*/
.mall0 {
  margin: 0;
}

.mall5 {
  margin: 5px;
}

.mall10 {
  margin: 10px;
}

.mall20 {
  margin: 20px;
}

.mall30 {
  margin: 30px;
}

.mall40 {
  margin: 40px;
}

.mall50 {
  margin: 50px;
}

.mall60 {
  margin: 60px;
}

.mall70 {
  margin: 70px;
}

.mall80 {
  margin: 80px;
}

.mall90 {
  margin: 90px;
}

.mall100 {
  margin: 100px;
}

.mall1e {
  margin: 1em;
}

.mall2e {
  margin: 2em;
}

.mall05e {
  margin: 0.5em;
}

/* ◆ color ◇ ------------------------------*/
.white {
  color: white;
}

.black {
  color: black;
}

.gray {
  color: gray;
}

.aaa {
  color: #aaa;
}

.ccc {
  color: #ccc;
}

.red {
  color: red;
}

.pink {
  color: pink;
}

.d-pink {
  color: deeppink;
}

.blue {
  color: #0000CC;
}

.orange {
  color: #ff6600;
}

.green {
  color: #02c102;
}

/*テキスト調整*/
.text-center {
  text-align: center;
}

/*float*/
.float-right {
  float: right;
}

/*with調整*/
.wt50 {
  width: 50%;
}

.wt92p {
  width: 92%;
  margin: 0 auto;
}

/* # =================================================================
   # スマホ
   # ================================================================= */
@media screen and (max-width:767.98px) {

  /* 変更点。0.02引く。 */
  /* ここにSP向けのCSS指定 */
  .sp-none {
    display: none;
  }
}


